
# ignore build files
/build*
/inst*
*.inc
*.gen.h
*.pyc
osdshim_wrap.cpp
shim.py

# CMake stuff
/CMakeCache.txt
*.cmake

# Emacs stuff
*~

# Windows build products
Debug/
x64/
/Win32/
/bin/
/lib/

*.dir/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeFiles/
/OpenSubdiv.opensdf
/OpenSubdiv.sdf
/OpenSubdiv.sln
/OpenSubdiv.v11.suo
